.chat {
    background-color: rgba(0, 0, 0, 0.95);
    height: 100vh;

    .room {
        &-map {
            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 15px;
            }

            &-avatar {
                margin-top: 5px;
            }

            &-userinput {
                width: 85%;
                padding: 10px;
                margin: 0 auto;
                border-radius: 15px;
                border: 1px solid rgba(163, 163, 163, 0.2);
                background-color: rgba(81, 82, 85, 0.45);
                -webkit-backdrop-filter: blur(5px) saturate(180%);
                backdrop-filter: blur(5px) saturate(180%);
            }

            &-user {
                text-align: left;
                margin: 0;
                color: #29b6f6;
            }

            &-message {
                text-align: left;
                margin: 0;
                color: white;
            }

        }

        &-form {
            padding-top: 10px;
            padding-bottom: 20px;
            background-color: rgb(43, 44, 44);
            display: flex;
            justify-content: space-between;
            position: sticky;
            bottom: 0;

            &-input {
                border-radius: 15px;
                outline: none;
                border: none;
                background-color: rgba(0, 0, 0, 0.95);
                color: white;
                margin-left: 5px;
                caret-color: #29b6f6;

                &:hover,
                &:focus {
                    border: 2px solid #29b6f6;
                }

                padding: {
                    top: 3px;
                    bottom: 3px;
                    left: 15px;
                }

                &::placeholder {
                    color: rgba(189, 187, 187, 0.7);
                    font-weight: 500;
                }
            }

            &-btn {
                margin-right: 10px;
                background-color: #29b6f6;
                font-weight: 500;

                &:hover,
                &:focus {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

@media only screen and (min-width: 996px) {
    .room {
        width: 60%;
        margin: 0 auto;

        &-map {
            &-wrapper {
                margin-bottom: 25px !important;
            }

            &-userinput {
                width: 95% !important;
                margin-left: 10px !important;
            }
        }

        &-form {
            width: 70% !important;
            background-color: transparent !important;
            display: flex;
            justify-content: space-evenly !important;
            margin: 0 auto;

            &-input {
                border-radius: 10px !important;
                width: 600px;
            }
        }
    }
}