.user-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
}

// LOGIN STYLING 
.login {
    &-container {
        width: 50% !important;
        margin: 0 auto;
    }

    &-header {
        padding: 40px !important;
        padding-bottom: 0 !important;
        border-radius: 10px 0 0 10px;

        p {
            margin-bottom: 0;
        }

        &-logo {
            width: 320px;
        }
    }

    &-form {
        width: 50vw;
        display: grid;
        padding: 50px !important;
        font-size: 1vw;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-wrap: wrap;

        &-title {
            margin-bottom: 20px;
        }

        input {
            margin-bottom: 15px;
            border-radius: 8px;
            border: none;
            outline: none;
            font-size: 16px;
            transition: all 0.1s ease-in-out;

            padding: {
                top: 5px;
                bottom: 5px;
                left: 10px;
            }

            &:focus {
                transition: all 0.1s ease-in-out;
            }
        }

        &-forgot {
            justify-content: flex-end;
            text-align: right;
            width: 85%;
            font-size: 16px;
        }

        &-btn {
            font-weight: 500;
            text-align: center;
            font-size: 18px !important;
            font-weight: 500 !important;
            letter-spacing: .3px;
            height: 50px;
            width: 70%;
            font-size: medium;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transition: all 0.3s ease-in-out;
            }

            &:focus {
                box-shadow: none;
            }
        }

        &-create {
            font-size: 16px;
            letter-spacing: .4px;
            width: 100%;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 425px) {
    .login {
        &-container {
            width: 80% !important;
            margin: 0 auto;
        }

        &-header {
            border-radius: 10px 10px 0 0;

            &-logo {
                width: 160px;
                height: 140px;
            }
        }

        &-form {
            padding: 25px !important;
            font-size: .8rem;
            border-radius: 0 0 10px 10px;

            form {
                width: 66vw;
                margin: 0 auto;
            }

            &-forgot {
                width: 100%;
            }

            &-btn {
                font-size: 14px !important;
                width: 100%;
            }

            &-create {
                font-size: 14px;
                margin-top: 20px;
            }

        }
    }
}


// SIGNUP STYLING
.user-container-signup {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
}

.signup {
    &-container {
        width: 50% !important;
        margin: 0 auto;
    }

    &-header {
        padding: 40px !important;
        padding-bottom: 0 !important;
        border-radius: 10px 0 0 10px;

        p {
            margin-bottom: 0;
        }

        &-logo {
            width: 320px;
        }
    }

    &-form {
        width: 50vw;
        display: grid;
        padding: 50px !important;
        font-size: 1vw;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-wrap: wrap;

        &-title {
            margin-bottom: 20px;
        }

        input {
            margin-bottom: 15px;
            border-radius: 8px;
            border: none;
            outline: none;
            font-size: 16px;
            transition: all 0.1s ease-in-out;

            padding: {
                top: 5px;
                bottom: 5px;
                left: 10px;
            }

            &:focus {
                transition: all 0.1s ease-in-out;
            }
        }

        &-btn {
            font-weight: 500;
            text-align: center;
            font-size: 18px !important;
            font-weight: 500 !important;
            letter-spacing: .3px;
            height: 50px;
            width: 70%;
            font-size: medium;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transition: all 0.3s ease-in-out;
            }

            &:focus {
                box-shadow: none;
            }
        }

        &-login {
            font-size: 16px;
            letter-spacing: .4px;
            width: 100%;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 425px) {
    .signup {
        &-container {
            width: 80% !important;
            margin: 0 auto;
        }

        &-header {
            border-radius: 10px 10px 0 0;

            &-logo {
                width: 160px;
                height: 140px;
            }
        }

        &-form {
            padding: 25px !important;
            font-size: .8rem;
            border-radius: 0 0 10px 10px;

            form {
                width: 66vw;
                margin: 0 auto;
            }

            &-btn {
                font-size: 14px !important;
                width: 100%;
            }

            &-login {
                font-size: 14px;
                margin-top: 20px;
            }

        }
    }
}