.login {
    background: linear-gradient(to right, #141e30, #243b55);
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
}

.login-form {
    width: 50vw;
    display: grid;
    background: black;
    padding: 50px !important;
    font-size: 1vw;
    color: white;
    border-radius: 0 10px 10px 0;

    &-title {
        margin-bottom: 20px;
    }

    &-forgot {
        color: white;
        font-size: 16px;
    }
}

input {
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all 0.1s ease-in-out;

    padding: {
        top: 5px;
        bottom: 5px;
        left: 10px;
    }

    &:focus {
        border: 2px solid #10a8df;
        transition: all 0.1s ease-in-out;
    }
}

.login-container {
    width: 50% !important;
    margin: 0 auto;
}

p {
    margin-bottom: 0;
}

.login-header-logo {
    width: 320px;
}

.btn {
    font-weight: 500;
    text-align: center;
    padding: 0 110px !important;
    font-size: 18px !important;
    background-color: #10a8df !important;
    font-weight: 500 !important;
    letter-spacing: .3px;
    height: 50px;
    width: 100%;
    font-size: medium;
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #fff !important;
        transition: all 0.3s ease-in-out;
    }
}

.login-header {
    background-color: #10a8df;
    color: black;
    padding: 40px !important;
    padding-bottom: 0 !important;
    border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 425px) {
    form {
        width: 66vw;
        margin: 0 auto;
    }

    .login-header {
        border-radius: 10px 10px 0 0;
    }

    .login-header-logo {
        width: 160px;
        height: 140px;
    }

    .login-form {
        padding: 25px !important;
        font-size: .8rem;
        border-radius: 0 0 10px 10px;
    }

    .left-background {
        padding: 20px !important;
        padding-bottom: 0 !important;
    }

    .login-container {
        width: 80% !important;
        margin: 0 auto;
    }

    .btn {
        font-size: 14px !important;
    }
}