[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
channels-redis = "*"
python-dotenv = "*"
django-cors-headers = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-csp = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
